<div class="logo">
  <br>
  <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_50/v1482109339/Red_property_icon_k8lnbp.png">

  <h1>Property App</h1>
  <br>
  <h2>How much is my property worth ?</h2>
  <h2>Calculate the value of any property FREE !</h2>
  <br>
  <h3>Click the button below to get started...</h3>
</div>
  <br>
  <br>
</div>

<div class="evaluation-container">
  <div class="form-wrapper">
    <button class="Value-My-Property">Get Started</button>


    <div class="enter-suburb form none">

    <%= form_tag("/search", method: "get", :remote => true, :id => "suburb-form") do %>
      <%= label_tag("Enter the property's suburb name") %>
      <%= text_field_tag(:suburb) %>
      <%= button_tag("Next", :class => "first_phase") %>
    </div>

    <div class="enter-street-name form none">
      <%= label_tag("Enter the property's street name") %>
      <%= text_field_tag(:street_name) %>
      <%= button_tag("Next", :class => "second_phase") %>
    </div>

    <div class="enter-house-number form none">
      <%= label_tag("Enter the property's house number") %>
      <%= text_field_tag(:house_number) %>
      <%= button_tag("Next", :class => "third_phase") %>
    </div>

    <div class="enter-bedrooms form none">
      <%= label_tag("Enter the number of bedrooms") %>
      <%= text_field_tag(:bedrooms) %>
      <%= button_tag("Next", :class => "fourth_phase") %>
    </div>

    <div class="enter-distance form none">
      <%= label_tag("Enter the distance of the property from public transport in kms") %>
      <%= text_field_tag(:distance_from_transport) %>
      <%= button_tag("Next", :class => "fifth_phase") %>
    </div>

    <div class="enter-bathrooms form none">
      <%= label_tag("Enter the number of bathrooms") %>
      <%= text_field_tag(:bathrooms) %>
      <%= button_tag("Next", :class => "sixth_phase") %>
    </div>

    <div class="enter-square-meters form none">
      <%= label_tag("Enter how many square meters the property is") %>
      <%= text_field_tag(:square_meters) %>
      <%= button_tag("Next", :class => "seventh_phase") %>
    </div>

    <div class="enter-parking-spaces form none">
      <%= label_tag("Enter the number of parking spaces the property contains") %>
      <%= text_field_tag(:parking_spaces) %>
      <%= button_tag("Next", :class => "eighth_phase") %>
    </div>

    <div class="enter-email form none">
      <%= label_tag("Enter your email") %>
      <%= text_field_tag(:email) %>
      <%= submit_tag("Next", :class => "submit-form") %>
    <% end %>
    </div>
    <!-- Display result peoperty value inside homepage -->
    <div class="display-result-property-value none">



      <%#= @prices %>

    </div>
  </div>
</div>

<br>

<div class="global-stats">
  <h3>Global Stats section</h3>

  <!-- ================== start of first row ================ -->

  <div class="row">
    <div class="col s4 global-stats-box">
      <p class="global-stats-label">Current Average Price Sydney </p>
      <p id="global-current-price">
        $<%= number_with_delimiter(@current_month_average*0.7, :precision => 0, :delimiter => ",") %>
      </p>
    </div>
    <div class="col s4 global-stats-box">
      <p class="global-stats-label">Projected Growth Rate</p>
      <p>
        <%= number_with_precision(@projected_growth_percentage, :precision => 3, :delimiter => ",") %>%
      </p>
    </div>
    <div class="col s4 global-stats-box">
      <p class="global-stats-label"> Next Month Projected Value</p>
      <p>
        $<%= number_with_precision(@projected_growth_value*0.7, :precision => 0, :delimiter => ",") %>
      </p>
    </div>
  </div>

  <!-- ================== end of first row ================ -->
  <!-- ================== start of second row ================ -->
  <div class="row">
    <div class="col s4 global-suburb-list">
      <p class="global-stats-label">Price by Suburb</p>
      <% @suburb_price_history_array.each do |suburb| %>
        <p><%= "#{suburb[0][0]} - $#{suburb[0][1]}" %></p>
      <% end %>
    </div>
    <div class="col s8 global-chart-section">
      <h4>Some Chart</h4>
      <canvas class="testChart" id="myChart" width="150" height="80"></canvas>
    </div>
  </div>

  <!-- ================== end of second row ================ -->


  <!-- ================== start of third row ================ -->
  <h3>Market Mood</h3>
  <div class="row mood-row">
    <div class="col s4">
      <img class="home-owner-face" src="http://4.bp.blogspot.com/-kudHVX3lQ9E/VU3XR07CoYI/AAAAAAAAD0o/uEIQKPPzfvs/s1600/risa.png" alt="">
      <p>Bill the Home Owner</p>
    </div>
    <div class="col s4">
      <img class="investor-face" src="http://4.bp.blogspot.com/-kudHVX3lQ9E/VU3XR07CoYI/AAAAAAAAD0o/uEIQKPPzfvs/s1600/risa.png" alt="">
      <p>Roger the Investor</p>
    </div>
    <div class="col s4">
      <img class="renter-face"
      src="https://image.freepik.com/free-icon/crying-emoticon-face_318-48236.jpg" alt="">
      <p>Groucho the Renter</p>
    </div>
  </div>
  <!-- ================== end of third row ================ -->






</div>

<br>

<div class="local-stats none">
  <h3>Local Stats Section</h3>

</div>





<!-- <div class="row">
  <div id="valuation-container" class="col s12 m6">
    <div class="card white valuation-card">
      <div class="card-content black-text">
        <span class="card-title">Valuation</span>
        <p>Click here for a valuation.</p>
      </div>
    </div> -->




<!-- <div class="row">
  <div id="australian-statistics-section" class="col s12 m6">
    <div class="card white global-stats-card">
      <div class="card-content black-text">
        <span class="card-title property-app">Australian Statistics Section</span>
        <div class="col s12">
          This div is 12-columns wide
        </div>
        <div class="col s6">This div is 6-columns wide</div>
          <p>Information<p>
        <div class="col s6">This div is 6-columns wide</div>
        <p>Information<p>
      </div>
    </div>
  </div>
</div> -->


<div class="end-div">
  <br>
  <br>
  <br>
  <br>
</div>


<!-- <%= render :partial => 'form' %> -->
