
<h1><img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_50/v1482109339/Red_property_icon_k8lnbp.png"></h1>
<p id="notice"><%= notice %></p></h1>

<h1>Property App</h1>

<p>Australian Valuation</p>

<div class="row">
  <div id="valuation-container" class="col s12 m6">
    <div class="card white valuation-card">
      <div class="card-content black-text">
        <span class="card-title">Valuation</span>
        <p>Click here for a valuation.</p>
      </div>
      <!-- <div class="card-action">
        <a href="#">Click on this link</a>
        <a href="#">Click on this link</a>
      </div> -->
    </div>


<h1>This is our home page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae veniam quasi suscipit rerum fugit dolorum, error distinctio totam eos animi non velit incidunt maxime amet, ullam eaque facere dicta veritatis.</p>
<p>Veniam voluptate in ut ad nulla maxime est earum, consequatur eos praesentium labore accusamus odio, eaque quaerat libero quae temporibus. Beatae ut rem accusamus sed, deserunt numquam quis nesciunt amet.</p>
<p>Mollitia nesciunt totam repellendus et vel laudantium harum aspernatur minus, perspiciatis ullam porro quia modi, dolore exercitationem labore odio nulla ipsum facilis autem cum asperiores id. Facere perferendis totam officiis.</p>


<div class="form-wrapper">
<button class="Value-My-Property">Value My Property</button>

<div class="enter-suburb form none">
<%= form_tag("/search", method: "get") do %>
  <%= label_tag("Enter your suburb") %>
  <%= text_field_tag(:suburb) %>
  <%= button_tag("Next", :class => "first_phase") %>
</div>

<div class="enter-bedrooms form none">
  <%= label_tag("Enter your number of bedrooms") %>
  <%= text_field_tag(:bedrooms) %>
  <%= button_tag("Next", :class => "second_phase") %>
</div>

<div class="enter-distance form none">
  <%= label_tag("Enter your distance from public transport") %>
  <%= text_field_tag(:distance_from_transport) %>
  <%= button_tag("Next", :class => "third_phase") %>
</div>

<div class="enter-email form none">
  <%= label_tag("Enter your email") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Next") %>
<% end %>
</div>


<div class="row">
      <div id="australian-statistics-section" class="col s12 m6">
        <div class="card white global-stats-card">
          <div class="card-content black-text">
            <span class="card-title property-app">Australian Statistics Section</span>
      <div class="col s12">This div is 12-columns wide</div>
      <div class="col s6">This div is 6-columns wide</div>
      <p>Information<p>
      <div class="col s6">This div is 6-columns wide</div>
      <p>Information<p>
    </div>
    </div>
    </div>
    </div>

    <div class="row">
          <div id="australian-statistics-section" class="col s12 m6">
            <div id="Evaluate-my-property"class="card white global-stats-card">
              <div class="card-content black-text">
                <span class="card-title evaluate-my-property">Evaluate my property</span>
                <p>Click here<p>
                </div>

<div class="end-div">
  <br>
  <br>
  <br>
  <br>
</div>


<!-- <%= render :partial => 'form' %> -->
