<!-- <div class="logo">
  <br>
  <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_50/v1482109339/Red_property_icon_k8lnbp.png"> -->
  <!-- <h1>Property App</h1>
  <h2>How much is your property worth ?</h2>
  <h2>Calculate the value of any property FREE !</h2>
  <h3>Click the button below to get started...</h3> -->
<!-- </div>
  <br>
  <br>
</div> -->

<nav>
  <div id="main-nav" class="nav-wrapper">
        <div class="center"><%= image_tag("home_logo.png", :class=> 'logo-image') %></div>
  </div>
</nav>

<div class="evaluation-container">
  <div class="form-wrapper">
    <button class="Value-My-Property">Get Started </button>


    <div class="enter-suburb form none">

    <%= form_tag("/search", method: "get", :remote => true, :id => "suburb-form") do %>
      <%= label_tag("Enter the property's suburb name") %>
      <%= text_field_tag(:suburb) %>
      <%= button_tag("Next", :class => "first_phase") %>
    </div>

    <div class="enter-street-name form none">
      <%= label_tag("Enter the property's street name") %>
      <%= text_field_tag(:street_name) %>
      <%= button_tag("Next", :class => "second_phase") %>
    </div>

    <div class="enter-house-number form none">
      <%= label_tag("Enter the property's house number") %>
      <%= text_field_tag(:house_number) %>
      <%= button_tag("Next", :class => "third_phase") %>
    </div>

    <div class="enter-bedrooms form none">
      <%= label_tag("Enter the number of bedrooms") %>
      <%= text_field_tag(:bedrooms) %>
      <%= button_tag("Next", :class => "fourth_phase") %>
    </div>

    <div class="enter-distance form none">
      <%= label_tag("Enter the distance of the property from public transport in kms") %>
      <%= text_field_tag(:distance_from_transport) %>
      <%= button_tag("Next", :class => "fifth_phase") %>
    </div>

    <div class="enter-bathrooms form none">
      <%= label_tag("Enter the number of bathrooms") %>
      <%= text_field_tag(:bathrooms) %>
      <%= button_tag("Next", :class => "sixth_phase") %>
    </div>

    <div class="enter-square-meters form none">
      <%= label_tag("Enter how many square meters the property is") %>
      <%= text_field_tag(:square_meters) %>
      <%= button_tag("Next", :class => "seventh_phase") %>
    </div>

    <div class="enter-parking-spaces form none">
      <%= label_tag("Enter the number of parking spaces the property contains") %>
      <%= text_field_tag(:parking_spaces) %>
      <%= button_tag("Next", :class => "eighth_phase") %>
    </div>

    <div class="enter-email form none">
      <%= label_tag("Enter your email") %>
      <%= text_field_tag(:email) %>
      <%= submit_tag("Next", :class => "submit-form") %>
    <% end %>
    </div>
    <!-- Display result peoperty value inside homepage -->
    <div class="display-result-property-value none">



      <%#= @prices %>

    </div>
  </div>
</div>

<br>

<div class="global-stats z-depth-4">
  <h3>Global Stats section</h3>

  <!-- ================== start of first row ================ -->

  <div class="row">
    <div class="col s4 global-stats-box">
      <p class="global-stats-label">Current Average Price Sydney </p>
      <p id="global-current-price">
        $<%= number_with_delimiter(@current_month_average, :precision => 0, :delimiter => ",") %>
      </p>
    </div>
    <div class="col s4 global-stats-box">
      <p class="global-stats-label">Projected Growth Rate</p>
      <p>
        <%= number_with_precision(@projected_growth_percentage, :precision => 3, :delimiter => ",") %>%
      </p>
    </div>
    <div class="col s4 global-stats-box">
      <p class="global-stats-label"> Next Month Projected Value</p>
      <p>
        $<%= number_with_precision(@projected_growth_value, :precision => 0, :delimiter => ",") %>
      </p>
    </div>
  </div>

  <!-- ================== end of first row ================ -->
  <!-- ================== start of second row ================ -->
  <div class="row">
    <div class="col s4 global-suburb-list">
      <p class="global-stats-label">Price by Suburb</p>
      <% @suburb_price_history_array.each do |suburb| %>
        <p><%= "#{suburb[0][0]} - $#{suburb[0][1]}" %></p>
      <% end %>
    </div>
    <div class="col s8 global-chart-section">
      <h4>Sydney Property Prices</h4>
      <canvas class="testChart" id="myChart" width="150" height="80"></canvas>
    </div>
  </div>

  <!-- ================== end of second row ================ -->


  <!-- ================== start of third row ================ -->
  <h3>Market Mood</h3>
  <div class="row mood-row">
    <div class="col s4">
      <% if @projected_growth_percentage > 0 %>
      <%= image_tag("happy.jpg", class: "homeowber-face") %>
      <% else %>
      <%= image_tag("sad.jpg", class: "homeowner-face") %>
      <% end %>
      <p>Bill the Home Owner</p>
    </div>
    <div class="col s4">
      <% if @projected_growth_percentage > 0 %>
      <%= image_tag("happy.png", class: "investor-face") %>
      <% else %>
      <%= image_tag("sad.jpg", class: "investor-face") %>
      <% end %>
      <p>Groucho the Investor</p>
    </div>
    <div class="col s4">
      <% if @projected_growth_percentage > 0 %>
      <%= image_tag("sad.jpg", class: "renter-face") %>
      <% else %>
      <%= image_tag("happy.png", class: "renter-face") %>
      <% end %>
      <p>Roger the Renter</p>
    </div>
  </div>
  <!-- ================== end of third row ================ -->






</div>

<br>

<div class="local-stats none">
  <h3>Your Property Stats</h3>
  <div class="my-property-value-container">

  </div>

<!-- =============== start of first row ===================  -->
<!-- Rhy's Row -->
<div class="row local-row1">
  <div class="col s2">
    <div class="your-property-stats"></div>
  </div>
  <div class="col s10">
    <canvas class="rhysChart" id="rhysChart" width="150" height="50"></canvas>
  </div>
</div>

<!-- =============== end of first row ===================  -->
<!-- =============== start of second row ===================  -->
<!--  Steve's row stay the fuck out -->
<div class="row local-row2">
  <div class="col s6">
    <h5>Sydney Property Demographics</h5>
    <canvas class="demographics" id="demographics" width="150" height="200"></canvas>
  </div>
  <div class="col s6">
    <h5>Sydney Projected Property Prices</h5>
    <canvas class="rhysChart2" id="rhysChart2" width="150" height="200"></canvas>
  </div>
</div>
<!-- =============== end of second row ===================  -->
<!-- =============== start of third row ===================  -->
<div class="row local-row3">
  <div class="col s4">

  </div>
  <div class="col s4 price-comparison">

  <!-- <canvas class="bubbleChart" id="myBubbleChart" width="600" height="300"></canvas> -->
</div>
  <div class="col s4"></div>

</div>
<!-- =============== end of third row ===================  -->
</div>





<!-- <div class="row">
  <div id="valuation-container" class="col s12 m6">
    <div class="card white valuation-card">
      <div class="card-content black-text">
        <span class="card-title">Valuation</span>
        <p>Click here for a valuation.</p>
      </div>
    </div> -->




<!-- <div class="row">
  <div id="australian-statistics-section" class="col s12 m6">
    <div class="card white global-stats-card">
      <div class="card-content black-text">
        <span class="card-title property-app">Australian Statistics Section</span>
        <div class="col s12">
          This div is 12-columns wide
        </div>
        <div class="col s6">This div is 6-columns wide</div>
          <p>Information<p>
        <div class="col s6">This div is 6-columns wide</div>
        <p>Information<p>
      </div>
    </div>
  </div>
</div> -->


<div class="end-div">
  <br>
  <br>
  <br>
  <br>
</div>


<!-- <%= render :partial => 'form' %> -->
