<h1><img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,h_50/v1482109339/Red_property_icon_k8lnbp.png"></h1>
<p id="notice"><%= notice %></p></h1>

<h1>Search</h1>

<div class="display-result-property-value none">

<p><%= @suburb.name %></p>

<% if @bedrooms == 2 %>

  <%= @prices * 2  %>

<% elsif @bedrooms == 1 %>

  <%= @prices %>

<% else %>

  <%= @prices * 3 %>

<% end %>

</div>
